#requestedbooking {
  justify-content: center;
  align-items: center;
  border-right: 3px dotted black;

}

#bookingreserved {
  justify-content: center;
}

h4 {
  text-align: center;
}


.notrequested {
  text-align: center;
  padding-top: 20px;
  color:black;
}

.someonerequest {
  text-align: center;
  padding-top: 20px;
  color:black;
}

li {
  list-style-type: none;
}
