.container {
  margin: 0 auto;
  max-width: 1200px;
  // display: flex;
}

.title {
  background-color: rgb(222,223,215);
  text-align: center;
  color: rgb(101,157,189);;
}

.row {
  background-color:rgb(222,223,215);
  border-radius: 5px;
  padding: 25px;
}

#top {
  padding: 15px;
}

#photo {
  background-color: rgb(222,223,215);
}

#form {
  background-color:rgb(166, 195, 232);
  text-align: center;
  vertical-align: bottom;
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

#links {
  text-align: center;
}


.btn-delete {
  color:rgb(255, 255, 255);
  background-color: rgb(101,157,189);
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
