.container-show {
  background-color: rgba(245, 245, 245, 0.662);
  max-width: fit-content;
}

.title {
  background-color: rgb(222,223,215);
  text-align: center;
  color: rgb(101,157,189);;
}

.row {
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  margin-top: 0px;
}

#details {
  padding: 0px;
  margin: 0px;
}

#top {
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}



#form {
  background-color:rgb(101,157,189);
  text-align: center;
  vertical-align: bottom;
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

#links {
  text-align: center;
  padding: 0px;
  margin: 0px;
}


.btn-back {
  color: #4F6D53;
  background-color: rgba(255, 255, 255, 0.605);
  //border: 1px solid #3a3939;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.btn-back :hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.605)
}

.btn-delete {
  color: #4F6D53;
  background-color: rgba(255, 255, 255, 0.605);
  //border: 1px solid #3a3939;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-align: end;
  cursor: pointer;
}

.btn-delete :hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.605)
}

.col-sm-12 {
  margin: 0px;
}

#header {
  padding: 0px;
  margin: 0px;
}

.btn{
  border-radius: 5px;
}

#details-row {
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 16px;
}

p {
  margin: 8px;
}
