.container {
  margin: 0 auto;
  max-width: 1200px;
  // display: flex;
}

.title {
  background-color: rgb(222,223,215);
  text-align: center;
  color: rgb(101,157,189);;
}

.row {
  background-color:rgb(222,223,215);
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  margin-top: 0px;
}

#details {
  padding: 0px;
  margin: 0px;
}

#top {
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5px;
}

#photo {
  background-color: rgb(222,223,215);
}

#form {
  background-color:rgb(101,157,189);
  text-align: center;
  vertical-align: bottom;
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

#links {
  text-align: center;
  padding: 0px;
  margin: 0px;
}


.btn-delete {
  color:rgb(255, 255, 255);
  background-color: rgb(101,157,189);
  border: 1px solid #3a3939;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.btn-delete :hover {
  border: 1px solid #3a3939;
}

.col-sm-12 {
  margin: 0px;
}

#header {
  padding: 0px;
  margin: 0px;
}

.btn{
  border-radius: 5px;
}

#details-row {
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 16px;
}

p {
  margin: 8px;
}
