<div class="container-index">

  <div class="row">
    <% @dinosaurs.each do |dinosaur| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
      <img class= "card-img" src="https://pbs.twimg.com/media/D5Lwt8pW4AA44Vp?format=jpg&name=large" alt="dino">
        <div class="card">
          <%= link_to dinosaur.name, dinosaur_path(dinosaur) %>
            <%= dinosaur.age %>
            <%= dinosaur.description %>
          </div>
      </div>
        <% end %>
  </div>



  <div class="row">
  <%= link_to "Create a new dinosaur", new_dinosaur_path %>
  </div>
