<div class="container">
  <h1>Our dinosaur offering</h1>
</div>

<div class="container">
  <div class="row">
    <% @dinosaurs.each do |dinosaur| %>
      <div id="card-dino" class="col-12 col-sm-6 col-md-4 mb-3 mr-1">
        <img class= "card-img" src="https://pbs.twimg.com/media/D5Lwt8pW4AA44Vp?format=jpg&name=large" alt="dino">
          <div class="card-content my-2 p-3">
              <p><strong><%=link_to dinosaur.name, dinosaur_path(dinosaur), class:"text-decoration-none"%></strong></p>
              <p><strong>Age:</strong> <%= dinosaur.age %> </p>
              <p><strong>About:</strong> <%=dinosaur.description %> </p>
          </div>
      </div>
    <% end %>
  </div>
</div>
