<h1>Hi</h1>

<% @dinosaurs.each do |dinosaur| %>
  <li><%= link_to dinosaur.name, dinosaur_path(dinosaur) %></li>
  <p><%= dinosaur.age %></p>
  <p><%= dinosaur.description %></p>
<% end %>

<%= link_to "Create a new dinosaur", new_dinosaur_path %>
