<div class="container">
    <h2 class="p-4">Create a new dinosaur</h1>

    <%= render 'form', dinosaur: @dinosaur %>

  <%# <%= link_to "Back to dinos", dinosaurs_path, class: "btn btn-success" %>
<li class="btn btn-back mt-3"><i class="fa-solid fa-backward"></i><%= link_to " Back to Dinos", dinosaurs_path %></li>
</div>
