<div class="container">
  <h1><%= @dinosaur.name %></h1>
</div>

<div class="container">
  <ul>
    <li><%= @dinosaur.description %></li>
    <li><%= @dinosaur.age %></li>
  </ul>
</div>
<%= link_to "Delete this dinosaur", dinosaur_path(@dinosaur),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
