
<div class = "container-banner" style="background-color: white">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('assets/Nomi_1.jpg');">
    <div class="banner_content">
      <h1>Welcome to "Get Your T-Rex"!</h1>
      <p>Are you ready for a new experience?</p>
      <p>Do you want to impress others?</p>
      <p>Then book a Dinosaur here!</p>
      <%= link_to "See our Dinos", dinosaurs_path, class: "btn-home mt-2" %>
    </div>
</div>
</div>

<div class="container" id="home-body">

 <div class="row">
    <div class="col-12 col-sm-6 col-md-6" id="specialoffer">
      <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.guim.co.uk/img/media/b8c8916d47e4d024e3962d0f0d28a463b1cb3dd8/0_6_1500_900/master/1500.jpg?width=1200&quality=85&auto=format&fit=max&s=11f842c0751def989e002d1934e9a916)">
          Special Offer:
          <br>Soon to be extinct!
      </div>
    </div>

     <div class="col-12 col-sm-6 col-md-6" id="babys">
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://staticdelivery.nexusmods.com/images/2573/thumbnails/81541143-1616267364.jpg)">
        Babies of the month
        </div>
    </div>
  </div>
</div>
