<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/Banner_1.png');">
  <div class="banner_content">
    <h1>Welcome to <strong>"Get Your T-Rex"</strong>!</h1>
    <p>Are you ready for a new experience? Do you want to impress others?</p>
    <p>Then book a Dinosaur here!</p>
    <%= link_to "See our Dinos", dinosaurs_path, class: "btn btn-gradient" %>
  </div>
<div class="container">
</div>
