.btn-ghost {
  color: #4F6D53;
  //background-color: red;
  background-color: rgba(255, 255, 255, 0.605);
  // border: 1px solid;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 8px;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.605)
}

.btn-home {
  color: white;
  background-color: #4F6D53;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 8px;
  opacity:1;

}

.btn-home:hover {
  background-color: #4e6d538e;
}


.btn-approve {
  color: white;
  background-color:  #37783f98;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  border: solid 1px;
}


.btn-approve:hover {
  color: white;
  background-color:  #0e6f1998;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  border: solid 1px;
}

.btn-decline {
  color: white;
  background-color:  rgba(212, 93, 93, 0.662);
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  border: solid 1px;
}

.btn-decline:hover {
  color: white;
  background-color:  rgba(211, 52, 52, 0.662);
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  border: solid 1px;
}
