
.card-picture {
  // background-size: cover;
  // background-position: center;
  background-color: blue;
  height: 180px;
  display: flex;
  background-color: white;
  // justify-content: center;
  // align-items: center;
  // color: white !important;
  // font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 3px;
  // text-decoration: none;
  // padding: 60px;
  // background-color: green;
}



// .card-large {
//   height: 50vh;
//   max-height: 400px;
// }
