.navbar-lewagon {
  justify-content: space-between;
  background: #88a88cfd;
  position: sticky;
  top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-brand {
  padding-left: 10px;
}
