
<h1>Tell us what you thought of your Dinosaur</h1>

<%= render "form", {dinosaur: @dinosaur, review: @review} %>

<%# <%= @dinosaur.reviews.each do |review| %>
  <%# <%= review.content %>
  <%# <%= review.rating %>
<%# <% end %>
